{% extends 'master.html' %}
{% load static %}

{% block content %}

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form action="{% url 'shop' %}">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="cheap" id="price-1">
                            <label class="custom-control-label" for="price-1">Cheap Price</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="fair" id="price-2">
                            <label class="custom-control-label" for="price-2">Fair Price</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="expensive" id="price-3">
                            <label class="custom-control-label" for="price-3">Expensive</label>
                        </div>
                        <input type="submit" value="Search" class="mt-4 btn btn-primary">
                    </form>
                </div>
                <!-- Price End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light homedropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'shop' %}?sort_by=latest">Latest</a>
                                        <a class="dropdown-item" href="{% url 'shop' %}?sort_by=popularity">Popularity</a>
                                        <a class="dropdown-item" href="{% url 'shop' %}?sort_by=best-rating">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="?items=10">10</a>
                                        <a class="dropdown-item" href="?items=20">20</a>
                                        <a class="dropdown-item" href="?items=30">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="/{{ product.product_image }}" alt="{{ product.name }}">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href="{% url 'add_to_cart' product.id %}"><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href="{% url 'detail' product.id %}"><i class="fas fa-info-circle"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href="?s={{ product.name }}"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="">{{ product.name }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>${{ product.price }}</h5>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small>({{ product.inventory }})</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Shop Product End -->

            <!-- Pagination Start -->
            <div class="ml-5">
                <ul class="pagination pagination-sm">
                    {% if pagination.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</span></a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ pagination.previous_page_number }}">&laquo; Previous</span></a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">&laquo; First</span></a></li>
                        <li class="page-item disabled"><a class="page-link">&laquo; Previous</span></a></li>
                    {% endif %}
                    {% for num_page in num_pages %}
                        <li class="
                            {% if forloop.counter == pagination.number %}
                                page-item active
                            {% else %}
                                page-item
                            {% endif %}
                            ">
                            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if pagination.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ pagination.next_page_number }}">Next &raquo;</a></li>
                        <li class="page-item"><a href="?page={{ pagination.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Next &raquo;</a></li>
                        <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Shop End -->

{% endblock content %}